/*Color variables*/
:root {
	--blue: hsla(220, 30%, 40%, 1);
	--darkBlue: hsla(220, 30%, 30%, 1);
	--lightBlue: hsla(220, 30%, 60%, 1);
	--gray: hsla(0, 0%, 70%, 0.5);
	--lightGray: hsla(0, 0%, 90%, 0.3);
	--darkGray: hsla(0, 0%, 50%, 0.5);
	--codeColor: hsla(0, 0%, 86%, 0.4);
	--baseWidth: 750px;
	--menuWidth: 140px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 100%;
	margin: 0;
}

h1 {text-align: center; padding: 30px 0px 20px 0px;}

h2 {text-align: center; padding: 30px 0px 0px 0px;}

h3 {text-align: center; padding-bottom: 50px; padding-top: 20px}

h4 {text-align: center;}

h5 {font-size: 1.2em; margin-bottom: 25px;}

p {font-size: 1em}

footer {text-align: center; color: rgba(100, 100, 100, 1); font-size: 1em; opacity: 0.8; margin-bottom: 20px;}

code, samp, .code {background-color: var(--codeColor); font-size: 1.1em; border-radius: 2.5px;}

ol.lectlist > li {margin-bottom: 40px}

li {margin-bottom: 15px}

i {margin-left: 25px}

hr {margin-top: 30px; margin-bottom: 15px;}

header.p p {text-align: center}

a {color: hsla(220, 30%, 20%, 1);}

.p {
	width: 750px;
	margin: 0 auto 25px;
}

footer p {margin-bottom: 7px;}

.ablock {margin-bottom: 50px;}

/* side menu style*/
.menu {
	position: relative;
}

.menu ul {
	width: var(--menuWidth);
	background-color: var(--gray); 
	list-style-type:none;
	margin: 0 20px 0 0;
	padding: 0;
	position: absolute;
	left: calc(50% - var(--baseWidth) / 2 - var(--menuWidth) - 25px);
}

.menu ul li {margin: 0;}

.menu ul li a {
	display: block;	
	padding: 25px 0 20px 30px;
	text-decoration: none;
	color: black;
	text-align: left;
}

.menu ul li:first-child a {
	padding-top: 28px;
}

.menu ul li:last-child a {
	padding-bottom: 32px;
}

.menu ul li a:hover {
	background-color: var(--darkGray); 
	font-weight: bold;
}

div.menu ul li.active {
	background-color: var(--darkBlue) !important;
}

div.menu ul li.active.visited a:hover {background-color: var(--darkBlue);}

div.menu ul li.visited a:hover {background-color: var(--lightBlue);}

.visited {
	background-color: var(--blue);
}

div.menu ul li.visited a {color:white;}

/* naviguation style */
nav {
        background-color: var(--blue); 
	width: 100%;
}

ul.nav {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content:center;
}

ul.nav li {
	float: none;
	padding: 0px 0;
	align-self: flex-end;
	margin: 0;
}

ul.nav li:last-child a {
	border-right:none;
}

ul.nav li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 13px 13px 10px;
	text-decoration: none;
	font-size: 1.14em;
	width:120px;
	/*border-right: 2px solid white;*/
}

ul.nav li:hover {
	background-color: var(--lightBlue); 
}	

ul.nav li.nactive {
	background-color: var(--darkBlue);
}

ul.nav li.nactive a {
	font-size: 1.35em;
	padding: 10px 13px;
}

/*Exercise page iframe/menu division*/
.iframe {
	width: var(--baseWidth);
	height: 90vh;
	min-height: 649px;
	border: none;
	overflow: auto;
	display: inline-block;
}

.center {
	text-align: center;
}

/*lecture formatting*/
.lecture::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

.lecture::-webkit-scrollbar-thumb {
	border: 1px solid darkgray;
	border-radius: 4px;
	background-color: darkgray;
}

.lecture::-webkit-scrollbar-corner {
	background: transparent;
}


.lect-title {
	margin-left: 22.2px
}

ol.lectlist h6 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 20px 0 8px 0;
}

.lectlist {margin-right: 5px;}

.inner-list {
	padding-left: 22.8px;
	counter-reset: sub;
	list-style-type: none;
}

.inner-list li::before {
	counter-increment: sub;
	content: "1." counters(sub, ".") "	";
}

.inner-list div.inst {margin-left: 37.2px}

.instblock {margin:15px 0px 40px 20px;}

.sub-inst {margin: 15px 0 40px 37.2px;}

.inst {
	margin: 15px 0px 40px 60px;
}

code.out, pre.out {
	border: 1px solid black;
	background-color: hsla(0, 0%, 10%, 0.9);
	color: white;
	display: inline-block;
	padding: 8px 6px;
	max-height: 150px;
	width: calc(100% - 95px);
	overflow-y: auto;
	border-radius: 0px;
}

.file {
	border: 1px solid black;
	border-radius: 0 0 5px 5px;
	background-color: hsla(0, 0%, 10%, 0.9);
	color: white;
	display: block;
	padding: 8px 6px;
	max-height: 150px;
	width: calc(100%);
	overflow-y: auto;
}

.file::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.file::-webkit-scrollbar-thumb {
	border: 1px solid darkgray;
	border-radius: 4px;
	background-color: darkgray;
}

.file::-webkit-scrollbar-corner {
	background: transparent;
}

.file-cont {
	width: calc(100% - 95px);
}

.in {
	border: 1px solid hsl(0, 0%, 70%);
	width: calc(100% - 95px);
	display: block;
	padding: 8px 6px;
	border-radius: 5px;
	overflow-x: auto;
	white-space: nowrap;
	background-color: var(--codeColor);
	max-width: 100%;
	max-height: 150px;
}

.in::-webkit-scrollbar {
	height: 8px;
}

.in::-webkit-scrollbar-thumb {
	border: 1px solid darkgray;
	border-radius: 4px;
	background-color: darkgray;
}

.in code {
	background-color: transparent;
}

ul.instblock {
	display: block;
}

.out code {
       background-color: transparent;
}       

.pinst, i {
	width: calc(100% - 115px);
}

.b {
}

p.codehead {
	background-color: hsla(0, 0%, 50%, 0.8);
	width: calc(100% - 95px);
	color: black;
	display: inline-block;
	margin: 0;
	padding: 0 6px;
	border: 1px solid black;
	font-size: 1.1em;
	font-family: monospace;
}

.file-cont p.codehead {
	width: 100%;
}

.instcode {
	border: 1px dashed gray;
	background-color: hsla(0, 0%, 85%, 0.3);
	width: calc(100% - 45px);
	padding: 8px 6px;
	margin-left: 10px;
}

pre {margin: 0;}

pre.out code {white-space: pre;}

.copy {
	bottom: 6.6px;
	cursor: pointer;
	margin-left: 10px;
	align-self: flex-end;
	margin-bottom: 5px;
	display: none;
}

.display {display: inline-block;}

.code-container {
	display: flex;
	align-items: flex-start;
	margin: 5px 0 15px;
}

/*lecture list*/
.list li {
	padding: 5px 0;
	margin-bottom: 10px;
}

.list li a {
	padding: 4px 0;
 }

 .list li a:hover {
	 font-weight: bold;
}

ul.list.nobold li a {font-weight: normal;} /*for about list*/

.default {
	margin-left: 15px;
	color: hsla(0, 0%, 30%, 0.6);
}

/*Audio player*/
.player-container {
	margin: 30px auto 10px;
	width: 450px;
	text-align: center;
	max-width: 100%;
}

.audio-player {
	background-color: #f5f5f6;
	display: flex;
	justify-content: center;
	border-radius: 40px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
	background-color: #f5f5f6;
    }

.audioBtn {
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: none;
	align-self: center;
}

.button-container {
	width: 33px;
	height: 33px;
	align-self: center;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.button-container:hover {
	background-color: hsla(0, 0%, 80%, 0.6);
}

#audioPrevBtn {margin-left: 8px;}

#audioNextBtn {margin-right: 8px;}

.track-name-cont{
	margin-bottom: 7px;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#trackName {
	margin: 0;
}

/*Next and previous button for lectures*/
.navBtn img {
	margin-bottom: 25px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#prevBtn {
	float: left;
	margin-left: 100px;
	transform: rotate(180deg);
}

#nextBtn {
	float: right;
	margin-right: 100px;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltipText {
	visibility: hidden;
	width: 130px;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 120%;
	right: -50px;
	background-color: hsla(0, 0%, 5%, 0.9);
	color: white;
}

.tooltip.right .tooltipText {
	right: calc(65px - 15px);
}

.tooltip:hover .tooltipText {
	visibility: visible;
}

.right {float: right;}

.tooltip .tooltipText::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: hsla(0, 0%, 5%, 0.9) transparent transparent transparent;
}

/*Media querry responsivness for main pages*/
@media only screen and (max-width: calc(750px + (120px + 25px) * 2 + 15px + 41px)) and (min-width: 500px) {
	.menu, .menu a .center {
	       width: 100%;
	       float: none;
	       max-width: 100%;
	       padding: 20px 0px;
       }

       .p {
       		margin: 0 auto; 
		width: calc(100% - 50px);
		max-width: 750px;
	}

       .menu a {
		text-align: center;
	}

	.menu {
	margin: auto;
	width: 100%;
	}

	.menu ul {
		margin: 20px auto 30px auto;
		position: static;
		width: 250px;
	}

	.menu ul li:last-child a {
		padding-bottom: 30px;
	}

	.menu ul li:first-child a {
		padding-top: 30px;
	}

	.menu ul li a {
	padding: 25px 10px 20px 10px;
	width: auto;
	text-align: center;
	font-weight: 500;
	}

	.iframe {
       		width: calc(100% - 50px); 
		max-width: var(--baseWidth);
		float: none;
	       	box-sizing: border-box;
	       	resize: none;
		margin: auto;
	}

	hr {width: 90%}

}       

@media (max-width: 500px) {

	.lect-title {
		margin-left: 7.7px
	}

	.inst {
		margin-left: calc( 10vw);
	}

	.instblock {
		margin-left: calc(10vw - 40px);
	}

	.lectlist {
		padding-left: calc(25.5px);
	}

	code.in, div.in code, div.in, .file-cont {width: calc(100% - 65px)
	}

	code.out, p.codehead, pre.out {
		width: calc(100% - 8.675px)
	}

	.pinst {
		width: calc(100% - 8.675px)
	}

	.menu {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.iframe {
		width: 100%;
		margin: auto;
	}

	.menu ul {
		width: 100%;
		margin: 20px auto 30px auto;
		position: static;
		max-width: 250px;
	}

	.p {
		margin: 0 auto;
		width: calc(100% - 30px);
	}

	.menu ul li a {
	padding: 25px 10px 20px 10px;
	width: auto;
	text-align: center;
	font-weight: 500;
	}

	.menu ul li:last-child a {
		padding-bottom: 30px;
	}

	.menu ul li:first-child a {
		padding-top: 30px;
	}

	.instcode {
		overflow: auto;
	}

	hr {
		width: 80%;
	}

	body {
		width: 100%;
		margin: auto;
	}

	.copy {display: inline-block;}
}

@media (max-width: 452px) {
	.player-container {
		width: calc(100% - 4px);
		margin-left: 2px;
		margin-right: 2px;
	}
}
