/*Audio player*/
.player-container {
	margin: 30px auto 10px;
	width: 450px;
	text-align: center;
	max-width: 100%;
}

.audio-player {
	background-color: #f5f5f6;
	display: flex;
	justify-content: center;
	border-radius: 40px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
	background-color: #f5f5f6;
    }

.audioBtn {
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: none;
	align-self: center;
}

.button-container {
	width: 33px;
	height: 33px;
	align-self: center;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.button-container:hover {
	background-color: hsla(0, 0%, 80%, 0.6);
}

#audioPrevBtn {margin-left: 8px;}

#audioNextBtn {margin-right: 8px;}

.track-name-cont{
	margin-bottom: 7px;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#trackName {
	margin: 0;
}

@media (max-width: 452px) {
	.player-container {
		width: calc(100% - 4px);
		margin-left: 2px;
		margin-right: 2px;
	}
}
